.src {
    background: #eeeeee;
    color: #000000;
    border: solid 1px !important;
    padding: 10px !important;
}

.example {
    background: #111111;
    color: #ffffff;
    border: solid 1px !important;
    padding: 20px !important;
}
#sec-title-slide h1{
    font-size: 2em !important;
}
#sec-title-slide h2{
    font-size: 1em !important;
    text-transform: none;
}
.org-ref-reference{
    color: #aaaaaa !important;
    font-style: italic !important;
    font-size: 0.8em !important;
}
.org-ref-bib a{
    color: #aaaaaa !important;
    font-size: 0.8em !important;
}
.org-ref-bib-h1{
    display: none;
}
a img{
    margin: -5px 0px !important;
    height: 1em;
}
img{
    border: 0px !important;
    background: none !important;
    box-shadow: none !important;
}
h1 {font-size: 3em !important;}
h2 {font-size: 2em !important;}
code {
    font-size: 0.9em !important;
    background: #eeeeee;
    color:#000000;
    padding: 0px 5px 0px 5px !important;
}